
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teasy</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
      <form method="POST" action="/">
    <input type="text" id="tempDir" name="tempDir" placeholder="Template directory"></input>
    <br/>
    </form>
  </body>
</html>
